.g-tabs {
    &__header {
        display: flex;
        justify-content: space-between;
    }

        &__title {
            display: block;
            flex: 0 0 50%;
            margin: 0;
            line-height: 50px;
            font-size: $font_size;
            background: $gray;
            color: #97acaf;
            transition: all 0.2s;
            text-decoration: none;
            text-align: center;
            
            &:focus {
                outline: none;
            }
            
            &:first-child {
                border-radius: $border_radius 0 0 0;
            }
            &:last-child {
                border-radius: 0 $border_radius 0 0;
            }
        }
        &__title--active {
            background: white;
            color: $text;
        }
}